<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default_layout">
	  <th:block layout:fragment="content">
	
  
  
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 header-text">
          <h2>Discover what's currently going on at <em>SnapX</em></h2>
          <p>When you need Free CSS Templates, you just remember our website TemplateMo. We provide you best quality website templates at absolutely free of charge. No hidden cost involved.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="search-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form id="search-form" name="gs" method="post" role="search" action="/search/List">
            <div class="row">
              
              <div class="col-lg-2">
                <fieldset>
                    <label for="category" class="form-label">카테고리</label>
                    <select name="category" class="form-select" aria-label="Choose a category" id="category" onchange="this.form.click()">
                        <option selected value="tim_travel_record">여행기록</option>
                        <option value="tim_schedule">일정기록</option>
                    </select>
                </fieldset>
              </div>
              <div class="col-lg-2">
                <fieldset>
                    <label for="theme" class="form-label">테마</label>
                    <select name="t_theme" class="form-select" aria-label="Default select example" id="theme" onchange="this.form.click()">
                        <option selected value="">전체</option>
                        <option value="나홀로여행">나홀로 여행</option>
                        <option value="가족여행">가족 여행</option>
                        <option value="커플여행">커플 여행</option>
                        <option value="친구와함께">친구와 함께</option>
                        <option value="반려동물과함께">반려동물과 함께</option>
                    </select>
                </fieldset>
              </div>
             
             <div class="col-lg-2">
                <fieldset>
                    <label for="season" class="form-label">시즌</label>
                    <select name="season" class="form-select" aria-label="Choose a category" id="season" onchange="this.form.click()">
                        <option selected value="">전체</option>
                        <option value="3">봄</option>
                        <option value="6">여름</option>
                        <option value="9">가을</option>
                        <option value="12">겨울</option>
                    </select>
                </fieldset>
              </div>
              
             <div class="col-lg-2">
                <fieldset>
                    <label for="gender" class="form-label">성별</label>
                    <select name="gender" class="form-select" aria-label="Choose a category" id="gender" onchange="this.form.click()">
                        <option selected value="">전체</option>
                        <option value="m">남자</option>
                        <option value="w">여자</option>
                    </select>
                </fieldset>
              </div>
             <div class="col-lg-2">
                <fieldset>
                    <label for="personnel" class="form-label">인원</label>
                    <select name="personnel" class="form-select" aria-label="Choose a category" id="personnel" onchange="this.form.click()">
                        <option selected value="">전체</option>
                        <option value="1">1인</option>
                        <option value="2">2인</option>
                        <option value="3">3인</option>
                        <option value="4">4인</option>
                        <option value="5">5인 이상</option>
                    </select>
                </fieldset>
              </div>
             
             
              <div class="col-lg-10">
                <fieldset>
                    <label for="title" class="form-label">검색어</label>
                    <input type="text" name="title" class="searchText" placeholder="" autocomplete="on" required>
                </fieldset>
              </div>
              
              
              <div class="col-lg-2">                        
                <fieldset>
                    <button class="main-button">검색</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <section class="photos-videos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading text-center">
            <h6>Photos &amp; Videos At SnapX</h6>
            <h4>Our Featured <em>Photos &amp; Videos</em> At SnapX</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="item">
            <div class="thumb">
              <img src="/assets/images/photo-video-01.jpg" alt="">
              <div class="top-content">
                <h4>A Walk In Nature</h4>
                <h6><i class="fa fa-eye"></i> 840 | <i class="fa fa-heart"></i> 160</h6>
              </div>
            </div>
            <div class="down-content">
              <div class="row">
                <div class="col-7">
                  <h2>Ranked: 1st</h2>
                </div>
                <div class="col-5">
                  <h6>Category: Photos</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="item">
            <div class="thumb">
              <img src="/assets/images/photo-video-02.jpg" alt="">
              <div class="play-button">
                <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
              </div>
              <div class="top-content">
                <h4>Blue Mountain Hill</h4>
                <h6><i class="fa fa-eye"></i> 1722 | <i class="fa fa-heart"></i> 320</h6>
              </div>
            </div>
            <div class="down-content">
              <div class="row">
                <div class="col-7">
                  <h2>Ranked: 2nd</h2>
                </div>
                <div class="col-5">
                  <h6>Category: Videos</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <div class="thumb">
              <img src="/assets/images/photo-video-03.jpg" alt="">
              <div class="top-content">
                <h4>Underwater Turtle</h4>
                <h6><i class="fa fa-eye"></i> 1436 | <i class="fa fa-heart"></i> 256</h6>
              </div>
            </div>
            <div class="down-content">
              <div class="row">
                <div class="col-7">
                  <h2>Ranked: 3rd</h2>
                </div>
                <div class="col-5">
                  <h6>Category: Photos</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <div class="thumb">
              <img src="/assets/images/photo-video-04.jpg" alt="">
              <div class="play-button">
                <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
              </div>
              <div class="top-content">
                <h4>Greeny Place</h4>
                <h6><i class="fa fa-eye"></i> 1596 | <i class="fa fa-heart"></i> 512</h6>
              </div>
            </div>
            <div class="down-content">
              <div class="row">
                <div class="col-7">
                  <h2>Ranked: 4th</h2>
                </div>
                <div class="col-5">
                  <h6>Category: Videos</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <div class="thumb">
              <img src="/assets/images/photo-video-05.jpg" alt="">
              <div class="top-content">
                <h4>Rocky Mountain</h4>
                <h6><i class="fa fa-eye"></i> 1596 | <i class="fa fa-heart"></i> 768</h6>
              </div>
            </div>
            <div class="down-content">
              <div class="row">
                <div class="col-7">
                  <h2>Ranked: 5th</h2>
                </div>
                <div class="col-5">
                  <h6>Category: Random</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contest-win">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading text-center">
            <h6>Recently Added Contests by Users</h6>
            <h4>Current <em>Contests</em> to Enter Now &amp; <em>Win</em></h4>
          </div>
        </div>
        
        <div class="col-lg-3" th:each="list : ${list}">
          <div class="contest-item">
            <div class="top-content">
              <span class="award" th:text="${list.tTheme}"></span>
              <span class="price">$1,200</span>
            </div>
            <img src="/assets/images/contest-01.jpg" alt="">
            <h4 th:text="${list.tTitle}"></h4>
            <div class="top-content">
                <h4 th:text="${list.tTag}"></h4>
                <h6><i class="fa fa-eye"></i> <span th:text="${list.tView}"></span> | <i class="fa fa-heart"></i> <span th:text="${list.tGreat}"></span></h6>
            </div>
            <div class="border-button">
              <a href="">보기</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  
	  </th:block>
</html>