<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mypage_layout}">
<th:block layout:fragment="content">


<body>
    <th:block layout:fragment="mypageContent">
      	
   		<div id="여행기" class="container mt-4 text-center">
		    <h2>나의 여행기</h2>
		    <ul class="list-group">
    <li th:each="record : ${trList}" class="list-group-item custom-list-group-item">
        <div class="custom-title">
            <a th:text="${record.tTitle}" href="#" class="mr-3"></a>
        </div>
        <div class="custom-date">
            <span th:text="${record.tStartDay}"></span> ~
            <span th:text="${record.tEndDay}"></span>
        </div>
    </li>
</ul>
		</div>


     </th:block>
    <!-- 탭 컨텐츠 -->



  </body>
	  </th:block>
</html>