<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/default_layout}">
<head>

<th:block th:replace="fragments/head :: headFragment"></th:block>
	<style>
		
		#t_title{
			font-size: xx-large;
			font-weight: bold;
		}
		
		#m_num{
			font-size: medium;
		}
		
		#t_post_date{
			 color: black; /* 회색으로 설정 */
			  font-size: 12px; /* 원하는 크기로 설정 */
			  opacity: 0.7; /* 투명도 조절 (0부터 1까지의 값, 1이 완전 불투명) */
		}
		#t_view{
			 color: black; 
			  font-size: 12px; 
			  opacity: 0.7; 
		}
		#views{
			 color: black; 
			  font-size: 12px; 
			  opacity: 0.7; 
		}
		
		
	</style>

  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  	<th:block th:replace="fragments/header :: headerFragment"></th:block>
  <!-- ***** Header Area End ***** -->
  
<th:block layout:fragment="content">
 <div class="contest-details" style="margin-top: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-content">
            <div class="row">
              <div class="col-lg-4" >
                <span id="t_title"><i class="fa fa-heart"></i> </span><br>
                <div>
                <span id="t_post_date"><i id="t_post_date"></i>  </span>
                 <span id="views">조회수 :</span> <i id="t_view"></i> <br>
                </div>
                <span id="m_num">  </span>
              </div>
              <div class="col-lg-8">
                <ul>
                 
                  <li><i class="fa fa-heart" id="t_great"></i> </li> 
                </ul>
                 <span id="t_endDay" style="float: right; " ></span>
                  <span id="t_startDay" style="float: right;"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
        
         <div class="main-content" id="t_content" th:utext="${t_content}">
		  썸머노트에 작성한 내용이 여기에 출력됩니다.
		</div>

           
           <hr>
            <div id="t_tag" >
       	   			tag
       	    </div>
          
            <div class="btn_wrap text-center">
    		<a href="javascript: void(0);" onclick="goList();" class="btn btn waves-effect waves-light">목록으로</a>
    		<a href="javascript: void(0);" onclick="goUpdate();" class="btn btn-primary waves-effect waves-light">수정하기</a>
    		<button type="button" onclick="goDelete();" class="btn btn-danger waves-effect waves-light">삭제하기</button>
    		</div>
        </div>
      </div>
    </div>
  </div>
	</th:block>


<th:block layout:fragment="script">
<script th:inline="javascript">
/*<![CDATA[*/

	window.onload = () => {
		goView();
	}
	
	// 게시글 조회
	function goView() {
	  const t_num = /*[[ ${t_num} ]]*/;
			
	  if (!t_num) {
	    return false;
	  }
	
	  fetch(`/api/travelrecords/${t_num}`)
	    .then(response => {
	      if (!response.ok) {
	        throw new Error('request failed !');
	      }
	      return response.json();
	    })
	    .then(json => {
	      // 이 부분을 수정합니다.
	      Object.keys(json).forEach(key => {
	        const elem = document.getElementById(key);
	        if (elem) {
	          // elem.innerText = json[key]; // 기존 코드
	          elem.innerHTML = json[key]; // 수정된 코드
	        }
	      });

	    })
	    .catch(error => {
	      alert('게시글 정보를 찾을 수 없습니다.');
	      goList();
	    });
	}
	
	// 목록
	function goList() {
	  location.href = "/travelrecords/list";
	}
	
	// 수정
	function goUpdate() {
	  location.href = "/travelrecords/posts?t_num=[[ ${t_num} ]]";
	}
	
	// 삭제
	function goDelete() {
	  const t_num = /*[[ ${t_num} ]]*/;
	  if (!t_num) {
	    return false;
	  }
	  
	  if (!confirm(t_num + '번 게시글을 삭제할까요?')) {
	    return false;
	  }
	  
	  fetch(`/api/${t_num}`, {
	    method: 'DELETE',
	    headers: {
	      'Content-Type': 'application/json'
	    },
	  })
	  .then(response => {
	    if (!response.ok) {
	      throw new Error('request failed !');
	    }
	    alert('삭제되었습니다.');
	    goList();
	  })
	  .catch(error => {
	    alert('오류가 발생하였습니다.');
	  });
	}
	  	

  /*]]>*/
  
  </script>
</th:block>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>
   

  </body>
</html>